<link rel="stylesheet" href="/styles/index.css" />

<section id="hero">
    <h1>Your 2010 to 2025 dictionary!</h1>
    <h2>A semi-community project started by <a href="https://youtube.com/@FloorMann" target="_blank">@FloorMann</a></h2>
</section>

<section id="contributing">
    <h1>Contributing</h1>
    <p>Want to contribute? Check out these cards below to determine what you can do to help!</p>

    <div id="contributions">
        <div class="contribution">
            <h3>Suggest a word</h3>
            <p>Have a word you want to add? Head over to our <a href="https://github.com/boyninja1555/slangdict"
                    target="_blank">GitHub
                    repo</a> and open a new issue with the word you want to add, along with its description, synonyms,
                and
                antonyms!</p>
        </div>
        <div class="contribution">
            <h3>Develop the website</h3>
            <p>Know Python, or HTML/CSS/JavaScript? Check out our <a href="https://github.com/boyninja1555/slangdict"
                    target="_blank">GitHub
                    repo</a>! You can clone the repo, add your changes, test, and make a pull request. Our word lister
                is done in Python templating, and the rest is done in plain HTML/CSS/JavaScript.</p>
        </div>
        <div class="contribution">
            <h3>Accept/decline words</h3>
            <p>Know your modern-day slang? Email <a href="mailto:flappyfloorg@gmail.com">us</a> and inquire about
                accepting/declining word requests yourself! If you have been doing this for a good amount of time, you
                will be promoted to refining accepted requests and making them more clear.</p>
        </div>
    </div>
</section>